<%- include('../partials/header') %>

<div class="container mt-4">
  <h2 class="text-success"><%= message %></h2>
  <a href="/admin/add-article" class="btn btn-primary mt-3">Add another</a>
</div>

<%- include('../partials/footer') %>
